<h1><%= @user.titleize %>'s Newsfeed </h1> 
<strong><%= link_to 'Log out', logout_path, method: :delete%></strong><br><br>

<%= render 'form' %>

<table>
  <tr>
    <th>Tweet</th>
    <th>User</th>
    <th><%= sortable "Date", "created_at"%></th>
    <th>Likes</th>
    <th>Dislikes</th>
    <th></th>
  </tr>
 
  <% #@tweets = @tweets.order('created_at DESC')
  @tweets.each do |tweet| %>
    <tr>
      <td><%= link_to tweet.content, tweet_path(tweet)%></td>
      <td><%= User.find(tweet.user_id).username %></td>
      <td><%= time_ago_in_words(tweet.created_at) %> ago</td>
      <td><%= tweet.likes.count %></td>
      <td><%= tweet.dislikes.count %></td>
  <% end %>
</table>